@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

/* Optional: Remove scrollbar space in Firefox */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* Hide scrollbar for Safari & Chrome */
body::-webkit-scrollbar {
  display: none;
}
